.newpost_area {
    padding: 46px 0px;
    .newpost {
        width: 800px;
        height: 100%;
        background-color: rgba(91, 226, 226, 0.35);
        margin: auto;
        .title_area {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 800px;
            height: 50px;
            background-color: rgba(91, 226, 226, 0);
            .title {
                width: 670px;
                height: 40px;
                background-color: rgba(91, 226, 226, 0);
                font-size: 20px;
                line-height: 40px;
                text-align: center;
            }
        }
        .postcolumn_area {
            padding: 46px 0px;

            .postcolumn {
                width: 800px;
                height: 350px;
                background-color: rgba(91, 226, 226, 0);
                .field {
                    display: flex;
                    justify-content: space-around;
                    text-align: center;
                    .c {
                        width: 280px;
                        text-align: center;
                        line-height: 35px;
                        font-size: 25px;
    
                    }
                    .d {
    
                    }
                    .c1 {
                        width: 100px;
                        text-align: center;
                        line-height: 35px;
                        font-size: 25px;
                    }
                    .c2 {
                        width: 160px;
                        text-align: center;
                        line-height: 35px;
                        font-size: 25px;
                    }
                    .c3 {
                        width: 240px;
                        text-align: center;
                        line-height: 35px;
                        font-size: 25px;
                    }
                }
            }

        }
        .button_area {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 800px;
            height: 50px;
            .button {
                width: 670px;
                height: 50px;
                background-color: rgba(91, 226, 226, 0);
                font-size: 30px;
                line-height: 30px;
                text-align: center;
                .pst_btn {
                    width: 120px;
                    height: 40px;
                    
                }

            }
            
        }
        .back_area {
            padding-top: 10px;

            .back {
                font-size: 20px;
                text-align: center;
            }

        }
        
    }
}